.page-header__logo {
  text-align: center;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 6%;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    left: 45%;
    padding-top: 8px;
  }
}
.page-header {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #E1E1E1;
  }
}
.main-nav {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 87%;
    margin: 0 auto;
    z-index: 1;
  }  
}
.main-nav__toggle {
  height: 79px;
  width: 79px;
  position: absolute;
  cursor: pointer;
  background-color: #ffff;
  right: 0px;
  top: -79px;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top:30px;
  right: 19px;
  background-color: black;
  box-shadow: 0 7px 0 0 #000, 0 14px 0 0 #000
}
.site-list a {
  display: block;
  padding: 0 0;
  color: #000;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid @shadow-menu-light;
  background-color: #fff;
  transition: padding .5s, font-size .5s;

  @media (min-width: @tablet-width) {
    padding: 32px 0;
    border-top: none;
  }
}
.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top:35px;
    right: 19px;
    background-color: #000;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
@media (max-width: @mobile-width) {
  /*.main-nav--closed .site-list__item{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;

  }*/
  .main-nav--closed .main-nav__wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: 0;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
.main-nac--nojs .main-nav__toggle {
  display: none;
}
.main-nac--nojs .site-list__item {
  display: block;
}

.nav-additionally {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: -66px;
    .nav-additionally__list {
      display: flex;
      font-weight: 600;
      .font-size(15px,24px);
      a {
        padding: 21px 36px;
        display: block;
        color: #000;
        @media (min-width: @desktop-width) {
          padding: 21px 80px;
          
        }
      }
      a:first-child {
        padding-left: 0;
      }
      a:nth-child(2) {
        @media (min-width: @desktop-width) {
          padding-left: 44px;
        }
      }
    }

    .nav-additionally__link {
      padding: 21px 0;
      .font-size(15px,24px);
      color: #444;
    }
  }
}
.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  .site-list__item {
    @media (min-width: @tablet-width) {
      position: relative;
      border-left: 1px solid #E1E1E1;
    }

    &:last-child a::before {
      @media (min-width: @tablet-width) {
        content: "";
        width: 21px;
        height: 18px;
        position: absolute;
        left: 30px;
        top: 27px;
        background-repeat: no-repeat;
        background-image: url("../img/cart.svg");
      }
    }

    &:last-child a {
      @media (min-width: @tablet-width) {
        padding-left: 84px;
      }
    }

    &:nth-child(3) a::before {
      @media (min-width: @tablet-width) {
        content: "";
        width: 21px;
        height: 18px;
        position: absolute;
        left: 30px;
        top: 27px;
        background-repeat: no-repeat;
        background-image: url("../img/search.svg");
      }
    }
    
    &:nth-child(3) {
      @media (min-width: @tablet-width) {
        margin-left: auto;
        width: 84px;
        a {
          font-size: 0;
        }
      }
    }

    &:nth-child(-n+2) {
      @media (min-width: @tablet-width) {
        display: none;
      }

      @media (min-width: @desktop-width) {
        display: block;
      }
    }

    &:nth-child(1) {
      border-left: none;

      a {
        
        @media (min-width: @desktop-width) {
          padding-right: 36px;
        }
        
      }
    }

    &:nth-child(2) {
      a {
        @media (min-width: @desktop-width) {
          padding-left: 35px;
        }
      }
    }
  }

}
