@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans-bold-webfont.woff2"), url("../fonts/opensans-bold-webfont.woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans-regular-webfont.woff2"), url("../fonts/opensans-light-webfont.woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans-light-webfont.woff2"), url("../fonts/opensans-light-webfont.woff");
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
a {
  text-decoration: none;
  background-color: transparent;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #000;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  /* 1 */
}
body {
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #444;
}
main {
  display: block;
}
h1,
h2,
h3,
h4 {
  font-size: 2em;
  margin: 0.67em 0;
  color: #000;
}
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
button,
input {
  /* 1 */
  overflow: visible;
  color: #444;
}
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
textarea {
  overflow: auto;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
.page-header__logo {
  text-align: center;
  display: block;
  padding-top: 22px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .page-header__logo {
    position: absolute;
    left: 6%;
    z-index: 2;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    left: 45%;
    padding-top: 8px;
  }
}
@media (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid #E1E1E1;
  }
}
.main-nav {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    width: 87%;
    margin: 0 auto;
    z-index: 1;
  }
}
.main-nav__toggle {
  height: 79px;
  width: 79px;
  position: absolute;
  cursor: pointer;
  background-color: #ffff;
  right: 0px;
  top: -79px;
  border: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: 30px;
  right: 19px;
  background-color: black;
  box-shadow: 0 7px 0 0 #000, 0 14px 0 0 #000;
}
.site-list a {
  display: block;
  padding: 0 0;
  color: #000;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #ECECEC;
  background-color: #fff;
  transition: padding 0.5s, font-size 0.5s;
}
@media (min-width: 768px) {
  .site-list a {
    padding: 32px 0;
    border-top: none;
  }
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  top: 35px;
  right: 19px;
  background-color: #000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  /*.main-nav--closed .site-list__item{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;

  }*/
  .main-nav--closed .main-nav__wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
    font-size: 0;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;
  }
}
.main-nac--nojs .main-nav__toggle {
  display: none;
}
.main-nac--nojs .site-list__item {
  display: block;
}
.nav-additionally {
  display: none;
}
@media (min-width: 768px) {
  .nav-additionally {
    display: flex;
    justify-content: space-between;
    margin-bottom: -66px;
  }
  .nav-additionally .nav-additionally__list {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
  }
  .nav-additionally .nav-additionally__list a {
    padding: 21px 36px;
    display: block;
    color: #000;
  }
  .nav-additionally .nav-additionally__list a:first-child {
    padding-left: 0;
  }
  .nav-additionally .nav-additionally__link {
    padding: 21px 0;
    font-size: 15px;
    line-height: 24px;
    color: #444;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .nav-additionally .nav-additionally__list a {
    padding: 21px 80px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .nav-additionally .nav-additionally__list a:nth-child(2) {
    padding-left: 44px;
  }
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .site-list .site-list__item {
    position: relative;
    border-left: 1px solid #E1E1E1;
  }
}
@media (min-width: 768px) {
  .site-list .site-list__item:last-child a::before {
    content: "";
    width: 21px;
    height: 18px;
    position: absolute;
    left: 30px;
    top: 27px;
    background-repeat: no-repeat;
    background-image: url("../img/cart.svg");
  }
}
@media (min-width: 768px) {
  .site-list .site-list__item:last-child a {
    padding-left: 84px;
  }
}
@media (min-width: 768px) {
  .site-list .site-list__item:nth-child(3) a::before {
    content: "";
    width: 21px;
    height: 18px;
    position: absolute;
    left: 30px;
    top: 27px;
    background-repeat: no-repeat;
    background-image: url("../img/search.svg");
  }
}
@media (min-width: 768px) {
  .site-list .site-list__item:nth-child(3) {
    margin-left: auto;
    width: 84px;
  }
  .site-list .site-list__item:nth-child(3) a {
    font-size: 0;
  }
}
@media (min-width: 768px) {
  .site-list .site-list__item:nth-child(-n+2) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .site-list .site-list__item:nth-child(-n+2) {
    display: block;
  }
}
.site-list .site-list__item:nth-child(1) {
  border-left: none;
}
@media (min-width: 1200px) {
  .site-list .site-list__item:nth-child(1) a {
    padding-right: 36px;
  }
}
@media (min-width: 1200px) {
  .site-list .site-list__item:nth-child(2) a {
    padding-left: 35px;
  }
}
.title-main__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 90px 25px 120px;
  text-align: center;
  background-image: url("../img/pageheader/hero-mobile@2x\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .title-main__title {
    font-size: 43px;
    line-height: 50px;
    padding: 155px 25px 372px;
    background-image: url("../img/pageheader/hero-desktop.jpg");
  }
}
@media (min-width: 1200px) {
  .title-main__title {
    padding: 155px 222px 372px;
    font-size: 53px;
    line-height: 57px;
    background-image: url("../img/pageheader/hero-desktop\ 1.jpg");
    background-position: center;
  }
}
@media (min-width: 1600px) {
  .title-main__title {
    padding: 296px 410px 238px;
    background-position-x: -20px;
  }
}
.title-main {
  background-color: #F9F9F9;
  position: relative;
}
@media (min-width: 768px) {
  .title-main::after {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    background-image: url("../img/zigzag-fill-desktop.svg");
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .title-main::after {
    content: "";
    width: 100%;
    height: 24px;
    position: absolute;
    background-image: url("../img/zigzag-fill-desktop-original.svg");
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .title-main__wrapper {
    width: 87%;
    margin: 0 auto;
  }
}
.titles-list__item:first-child {
  background-color: #63D1BB;
  position: relative;
}
.titles-list__item:first-child dd {
  margin: 0;
}
.titles-list__item:first-child::after {
  content: "";
  background-image: url("../img/icons/interior.svg");
  position: absolute;
  width: 40px;
  height: 62px;
  right: 36px;
  top: 23px;
}
.titles-list__item:last-child {
  background-color: #56C3B2;
  position: relative;
}
.titles-list__item:last-child dd {
  margin: 0;
}
.titles-list__item:last-child::before {
  content: "";
  background-image: url("../img/icons/lego.svg");
  position: absolute;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  right: 27px;
  top: 19px;
}
.titles-list__item dl {
  margin: 0;
  margin-top: 2px;
}
.titles-list__item {
  padding: 24px 160px 31px 30px;
  font-weight: 600;
  color: #fff;
}
.titles-list {
  margin: 0;
}
@media (min-width: 768px) {
  .titles-list {
    display: flex;
  }
  .titles-list div {
    flex-grow: 1;
    padding: 25px 36px 34px;
    font-size: 20px;
    line-height: 30px;
  }
}
.best-product__h3 {
  font-weight: 600;
  width: 250px;
  margin: 0;
  font-size: 25px;
  line-height: 24px;
}
.best-product__h3 span {
  font-size: 17px;
  line-height: 20px;
  color: #63D1BB;
}
@media (min-width: 768px) {
  .best-product__h3 {
    display: flex;
    font-size: 43px;
    line-height: 50px;
    justify-content: space-between;
    width: auto;
    margin-top: 39px;
    margin-bottom: 50px;
  }
  .best-product__h3 span {
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    width: 100px;
    padding-top: 5px;
  }
}
@media (min-width: 1200px) {
  .best-product__h3 {
    flex-direction: row-reverse;
    font-size: 53px;
    line-height: 57px;
    width: 654px;
    margin-bottom: -100px;
    margin-top: 110px;
  }
}
@media (min-width: 768px) {
  .best-product__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 42px;
         column-gap: 42px;
  }
}
@media (min-width: 1200px) {
  .best-product__content {
    width: 83%;
    margin-left: auto;
    grid-template-rows: repeat(4, 1fr);
    -moz-column-gap: 58px;
         column-gap: 58px;
  }
}
@media (min-width: 768px) {
  .best-product__img {
    height: 100%;
    width: 100%;
    grid-column: -1/2;
    grid-row: 1/4;
  }
}
@media (min-width: 1200px) {
  .best-product__img {
    grid-row: 1/-1;
    width: 525px;
    z-index: -1;
  }
}
.best-product__wrapper {
  padding: 30px 31px;
  position: relative;
}
@media (min-width: 768px) {
  .best-product__wrapper {
    padding: 0;
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .best-product__wrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    background-image: url("../img/zigzag-line-desktop.svg");
    bottom: -73px;
    height: 23px;
  }
}
.best-product__p {
  font-size: 15px;
  line-height: 24px;
  margin-top: 17px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .best-product__p {
    font-size: 17px;
    line-height: 30px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .best-product__p {
    grid-row: -3/-4;
    padding-right: 21px;
  }
}
.best-product__item span:first-child {
  display: inline-block;
  width: 67px;
  margin-right: 26px;
}
.best-product__item span:last-child {
  display: inline-block;
  width: 140px;
}
.best-product__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F1F1F1;
  padding: 15px 0;
}
.best-product__list {
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  .best-product__list {
    grid-row: -2/-3;
  }
}
.best-product__button-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
}
@media (min-width: 1200px) {
  .best-product__button-content {
    grid-row: -1/-2;
  }
}
.best-product__button-content button {
  font-weight: 600;
  padding: 16px 70px;
  background-color: #fff;
  border: 2px solid #444444;
}
.best-product__button-content span {
  margin: 25px 0 24px;
}
@media (min-width: 768px) {
  .best-product__button-content span {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .best-product__button-content span {
    margin-bottom: auto;
    margin-top: 60px;
  }
}
.best-product {
  position: relative;
}
.best-product::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 100%;
  background-image: url("../img/waves.svg");
}
@media (min-width: 768px) {
  .best-product::before {
    height: 18px;
    background-image: url("../img/zigzag-line-tablet.svg");
    bottom: -53px;
  }
}
@media (min-width: 1200px) {
  .best-product::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .best-product {
    margin-bottom: 108px;
  }
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 83px;
  }
}
.advantages__h3 {
  font-size: 25px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .advantages__h3 {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 42px;
  }
}
.advantages__wrapper {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 0;
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    width: 55%;
  }
}
.advantages__item--6::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 38px;
  background-image: url("../img/icons/advatage-icons/icon-6.svg");
  background-repeat: no-repeat;
}
.advantages__item--6 {
  order: 6;
}
.advantages__item--5::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 38px;
  background-image: url("../img/icons/advatage-icons/icon-5.svg");
  background-repeat: no-repeat;
}
.advantages__item--5 {
  order: 5;
}
.advantages__item--4::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 38px;
  background-image: url("../img/icons/advatage-icons/icon-4.svg");
  background-repeat: no-repeat;
}
.advantages__item--4 {
  order: 4;
}
.advantages__item--3::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 38px;
  background-image: url("../img/icons/advatage-icons/icon-3.svg");
  background-repeat: no-repeat;
}
.advantages__item--3 {
  order: 3;
}
.advantages__item--2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 38px;
  background-image: url("../img/icons/advatage-icons/icon-2.svg");
  background-repeat: no-repeat;
}
.advantages__item--2 {
  order: 2;
}
.advantages__item--1::after {
  content: "";
  position: absolute;
  top: 0;
  width: 55px;
  height: 38px;
  background-image: url("../img/icons/advatage-icons/icon-1.svg");
  background-repeat: no-repeat;
}
.advantages__item--1 {
  order: 1;
}
@media (max-width: 767px) {
  .advantages__item--1::after {
    background-position: 27%;
  }
  .advantages__item--2 {
    order: 4;
  }
  .advantages__item--2::after {
    background-position: 27%;
  }
  .advantages__item--3 {
    order: 2;
  }
  .advantages__item--5 {
    order: 3;
  }
  .advantages__item--5::after {
    background-position: 27%;
  }
  .advantages__item--4 {
    order: 5;
  }
  .advantages__item--6::after {
    background-position: 27%;
  }
}
.advantages__item {
  height: 90px;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 50%;
    padding-right: 74px;
    font-size: 20px;
    line-height: 22px;
  }
  .advantages__item .advantages__item--6::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55px;
    height: 38px;
    background-image: url("../img/icons/advatage-icons/icon-6.svg");
    background-repeat: no-repeat;
  }
  .advantages__item .advantages__item--6 {
    order: 6;
  }
  .advantages__item .advantages__item--5::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55px;
    height: 38px;
    background-image: url("../img/icons/advatage-icons/icon-5.svg");
    background-repeat: no-repeat;
  }
  .advantages__item .advantages__item--5 {
    order: 5;
  }
  .advantages__item .advantages__item--4::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55px;
    height: 38px;
    background-image: url("../img/icons/advatage-icons/icon-4.svg");
    background-repeat: no-repeat;
  }
  .advantages__item .advantages__item--4 {
    order: 4;
  }
  .advantages__item .advantages__item--3::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55px;
    height: 38px;
    background-image: url("../img/icons/advatage-icons/icon-3.svg");
    background-repeat: no-repeat;
  }
  .advantages__item .advantages__item--3 {
    order: 3;
  }
  .advantages__item .advantages__item--2::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55px;
    height: 38px;
    background-image: url("../img/icons/advatage-icons/icon-2.svg");
    background-repeat: no-repeat;
  }
  .advantages__item .advantages__item--2 {
    order: 2;
  }
  .advantages__item .advantages__item--1::after {
    content: "";
    position: absolute;
    top: 0;
    width: 55px;
    height: 38px;
    background-image: url("../img/icons/advatage-icons/icon-1.svg");
    background-repeat: no-repeat;
  }
  .advantages__item .advantages__item--1 {
    order: 1;
  }
  .advantages__item:nth-child(even) {
    margin-left: auto;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.reviews {
  padding: 0 30px;
  position: relative;
}
@media (min-width: 768px) {
  .reviews {
    padding: 0;
  }
  .reviews::before {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    bottom: 0;
    left: 0;
    background-image: url("../img/photos/review.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .reviews::before {
    left: 6%;
  }
}
.reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 0;
  background-image: url("../img/waves.svg");
}
@media (min-width: 768px) {
  .reviews::after {
    background-image: url("../img/zigzag-line-tablet.svg");
    height: 18px;
    bottom: -69px;
  }
}
@media (min-width: 1200px) {
  .reviews::after {
    display: block;
    width: 88%;
    margin: 0 auto;
    position: inherit;
    background-image: url("../img/zigzag-line-desktop.svg");
    height: 23px;
  }
}
.reviews__button {
  display: block;
  background-color: #fff;
  border: 2px solid #444444;
  text-transform: uppercase;
  font-weight: 600;
  color: #444444;
}
.reviews__button--top {
  display: none;
}
@media (min-width: 768px) {
  .reviews__button--top {
    display: inline;
    font-size: 17px;
    line-height: 20px;
    padding: 16px 26px;
  }
}
.reviews__button--botom {
  width: 100%;
  padding: 16px 0;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .reviews__button--botom {
    display: none;
  }
}
.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
  }
}
.reviews__wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .reviews__wrapper {
    padding: 82px 0 42px;
    width: 87%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .reviews__wrapper {
    width: 72%;
    margin: 0;
    margin-left: auto;
    margin-right: 6%;
    padding-right: 0;
  }
}
.reviews__p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .reviews__p {
    font-size: 17px;
    line-height: 30px;
  }
}
.reviews__rows {
  display: flex;
  border: 1px solid #ECECEC;
  margin: 30px 0 38px;
}
.reviews__rows div {
  width: 50%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews__rows div:first-child {
  border-right: 1px solid #ECECEC;
}
@media (min-width: 768px) {
  .reviews__rows div:first-child {
    border-right: none;
  }
}
.reviews__rows div:last-child {
  border-left: 1px solid #ECECEC;
}
@media (min-width: 768px) {
  .reviews__rows div:last-child {
    border-left: none;
  }
}
@media (min-width: 768px) {
  .reviews__rows {
    position: absolute;
    bottom: 36px;
    right: 30px;
    width: 147px;
    border: none;
  }
}
.reviews__containers {
  position: relative;
  width: 780px;
}
.reviews__containers .reviews__container {
  position: relative;
  float: left;
  transition: transform 1s;
}
.reviews__containers .reviews__container:nth-child(1) {
  height: 393px;
  padding-right: 12px;
  margin-bottom: 42px;
}
@media (min-width: 768px) {
  .reviews__containers .reviews__container:nth-child(1) {
    height: auto;
  }
  .reviews__containers .reviews__container:nth-child(1) .reviews__p {
    margin-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .reviews__containers .reviews__container:nth-child(1) {
    padding-right: 5%;
  }
}
.reviews__containers .reviews__container:nth-child(2) {
  padding-right: 13px;
}
@media (min-width: 1200px) {
  .reviews__containers .reviews__container:nth-child(2) {
    padding-right: 5%;
  }
}
.reviews__containers .reviews__container:nth-child(3) {
  padding-right: 17px;
}
@media (min-width: 1200px) {
  .reviews__containers .reviews__container:nth-child(3) {
    padding-right: 5%;
  }
}
.reviews__containers .reviews__person {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.reviews__containers .reviews__person span {
  display: inline-block;
  margin-top: 14px;
}
.reviews__containers .reviews__person b {
  color: #000;
}
.contacts__wrapper {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    padding: 0;
    width: 87%;
    margin: 0 auto;
  }
}
.contacts__container div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
@media (min-width: 768px) {
  .contacts__container div {
    width: 300px;
    font-size: 17px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts__container div {
    margin-left: auto;
  }
}
.contacts__container div p {
  margin: 0;
}
.contacts__container {
  margin-bottom: 62px;
  position: relative;
}
@media (min-width: 768px) {
  .contacts__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .contacts__container {
    flex-direction: column;
  }
}
.contacts__container::after {
  content: "Напишите нам";
  width: 230px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  border: 2px solid #444444;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  bottom: -186px;
  right: 55px;
}
@media (max-width: 1200px) {
  .contacts__container::after {
    display: none;
  }
}
.contacts__email {
  margin-bottom: 44px;
}
.contacts__email p {
  border-bottom: 1px solid #62D1BA;
  padding-bottom: 6px;
  width: 183px;
}
@media (min-width: 768px) {
  .contacts__email p {
    width: 206px;
  }
}
.contacts__address p {
  line-height: 30px;
  width: 183px;
}
@media (min-width: 768px) {
  .contacts__address p {
    width: 222px;
    height: 30px;
  }
}
.contacts__address span {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .contacts__address span {
    padding: 0;
  }
}
.contacts__title {
  margin-bottom: 28px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 135px;
    position: relative;
    margin-bottom: 49px;
  }
  .contacts__title::after {
    content: "";
    height: 81px;
    width: 47px;
    position: absolute;
    right: 0;
    bottom: -16px;
    background-image: url("../img/flag.svg");
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .contacts__title::after {
    right: 362px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    direction: rtl;
    padding-right: 53px;
    margin-top: 53px;
    font-size: 53px;
    line-height: 57px;
  }
}
.contacts__button {
  width: 260px;
  margin: 0 auto;
  display: block;
  background-color: #fff;
  border: 2px solid #444444;
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-top: 41px;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .contacts__button {
    margin-top: 71px;
    margin-bottom: 73px;
  }
}
@media (min-width: 1200px) {
  .contacts__button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 82%;
    margin-left: auto;
    margin-top: 138px;
    margin-right: 6%;
    margin-bottom: 104px;
  }
}
@media (min-width: 1200px) {
  .contacts__map {
    width: 527px;
  }
}
.page-footer__img {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__img {
    display: inline-block;
    margin-top: 18px;
  }
}
.page-footer {
  background-color: #F1F1F1;
}
.page-footer__wrapper {
  padding: 0 30px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding: 40px 0;
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
.page-footer__social-media-list {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .page-footer__social-media-list {
    width: 140px;
    border: none;
    justify-content: space-between;
  }
}
.page-footer__developers {
  display: flex;
  justify-content: space-around;
  padding: 22px 0;
}
@media (min-width: 768px) {
  .page-footer__developers {
    width: 182px;
    justify-content: space-between;
  }
}
.page-footer__developers b {
  padding-top: 5px;
}
.form-title__h1 {
  padding: 73px 30px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  background-color: #63D1BB;
}
@media (min-width: 768px) {
  .form-title__h1 {
    font-size: 43px;
    line-height: 50px;
    position: relative;
  }
  .form-title__h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/zigzag-fill-desktop.svg");
  }
}
.form-title__p {
  padding: 17px 30px 0 30px;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .form-title__p {
    width: 87%;
    margin: 0 auto;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
    margin-top: 54px;
  }
}
.form-title {
  margin-bottom: 37px;
}
.order-form__radio,
.full-name,
.phone-mail,
.additionally {
  width: 87%;
  margin: 0 auto;
  border-top: 1px solid #63D1BB;
  padding-top: 35px;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 42px;
  position: relative;
}
@media (min-width: 768px) {
  .order-form__radio,
  .full-name,
  .phone-mail,
  .additionally {
    border: none;
  }
}
.order-form__radio legend,
.full-name legend,
.phone-mail legend,
.additionally legend {
  color: #63D1BB;
  width: 62px;
}
@media (min-width: 768px) {
  .radio-set__list {
    width: 68%;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .radio-set {
    margin-top: 63px;
  }
}
.radio-set__legend {
  width: 62px;
}
@media (min-width: 768px) {
  .radio-set__legend {
    position: absolute;
    top: 41px;
  }
}
.radio-set__item {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .radio-set__item {
    margin-bottom: 50px;
  }
}
.radio-set__item:last-child {
  margin-bottom: 30px;
}
.radio-set__label {
  position: relative;
  cursor: pointer;
  padding-right: 44px;
  display: block;
  padding-left: 63px;
  width: 248px;
}
@media (min-width: 768px) {
  .radio-set__label {
    padding-right: 0;
    width: 100%;
  }
}
.radio-set__label::before {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #444444;
  left: 0;
}
.radio-set__label--accessory::before {
  top: -4px;
}
@media (min-width: 768px) {
  .radio-set__label--accessory::before {
    top: -10px;
  }
}
.radio-set__label--toys::before {
  top: -12px;
}
.radio-set__radio:checked + .radio-set__label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  background-color: #63D1BB;
  border-radius: 80%;
}
.radio-set__radio:checked + .radio-set__label--accessory::after {
  top: 9px;
  left: 12px;
}
@media (min-width: 768px) {
  .radio-set__radio:checked + .radio-set__label--accessory::after {
    top: 2px;
  }
}
.radio-set__radio:checked + .radio-set__label--toys::after {
  left: 12px;
}
@media (min-width: 768px) {
  .checkbox-set {
    background-color: #63D1BB;
  }
}
@media (min-width: 768px) {
  .checkbox-set__legend {
    position: absolute;
    top: 48px;
  }
}
@media (min-width: 768px) {
  .checkbox-set__list {
    width: 67%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
.checkbox-set__item {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .checkbox-set__item {
    width: 164px;
  }
}
.checkbox-set__label {
  padding-left: 63px;
  position: relative;
  cursor: pointer;
}
.checkbox-set__label::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  left: 0;
  top: -10px;
}
.checkbox-set__checkbox:checked + .checkbox-set__label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 18px;
  background-image: url("../../img/checkboxTick.svg");
  left: 7px;
  top: 0;
}
.full-name__label {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}
.full-name__label .full-name__input {
  height: 52px;
  border: none;
  border-bottom: 2px solid #444444;
  outline: none;
}
.full-name__label .full-name__input::-moz-placeholder {
  color: #B3B3B3;
}
.full-name__label .full-name__input::placeholder {
  color: #B3B3B3;
}
.full-name__item {
  margin-bottom: 21px;
}
.phone-mail {
  padding-top: 0;
  border: none;
}
.phone-mail__label {
  display: block;
  color: #63D1BB;
  background-color: #fff;
  margin-top: -8px;
}
.phone-mail__item {
  height: 70px;
  border-top: 1px solid #63D1BB;
  margin-bottom: 30px;
  position: relative;
}
.phone-mail__input {
  height: 52px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid #444444;
  outline: none;
}
.phone-mail__input::-moz-placeholder {
  color: #B3B3B3;
}
.phone-mail__input::placeholder {
  color: #B3B3B3;
}
.phone-mail__label--tell {
  width: 58px;
}
.phone-mail__label--mail {
  width: 83px;
}
.phone-mail__img,
.phone-mail__img {
  position: absolute;
  right: 0;
  top: 24px;
}
.additionally__textaria {
  width: 100%;
  resize: none;
  outline: none;
  border: 2px solid #444444;
  padding: 17px;
  height: 142px;
}
.additionally__textaria::-moz-placeholder {
  color: #B3B3B3;
}
.additionally__textaria::placeholder {
  color: #B3B3B3;
}
.additionally__submit {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 17px;
  justify-content: space-between;
}
.additionally__span {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.additionally__submite {
  outline: none;
  background-color: #fff;
  border: 2px solid #444444;
  text-transform: uppercase;
  font-weight: 600;
  padding: 18px 0;
  margin-bottom: 35px;
}

/*# sourceMappingURL=style.css.map */
